.product-list__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-list__container > :first-child {
  width: 75%;
}

.product-list__container > ul {
  width: 100%;
  margin-top: 5%;
}
