.login-container {
  background-color: red;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    151.73deg,
    #090979 -2.43%,
    #056ab9 37.93%,
    #00d4ff 81.39%
  );
}
